<template>
    <div>
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: 'HomePage',
    components: {

    },
    data() {
        return {

        }
    },
}
</script>

<style>
body {
    background-color: #F4F4F4;
}
</style>